body {
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
}

/* header start */
.vercher-fulid {
    -webkit-box-shadow: 0px 4px 7px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 7px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 7px -3px rgba(34, 60, 80, 0.2);
}

.nav-top {
    top: 0;
    z-index: 1000;
}

.vercher-nav {
    background-color: #fff !important;
    box-shadow: none !important;
}

.vecher-a-hover:hover {
    color: #1abc9c !important;
}

.vecher-img-hover a {
    overflow: hidden;
}

.vecher-img-hover a img {
    transition: transform 0.3s ease;
}

.vecher-img-hover a img:hover {
    transform: scale(1.1);
}


.nav-underline .nav-item :focus,
.nav-underline .nav-item :hover {

    border-color: transparent transparent #1abc9c transparent;
}

.vercher-nav .nav-tabs {
    border-bottom: none;
}

.vercher-rate {
    color: #1abc9c;
}

.header-text-font {
    color: #222;
    display: block;
    font-size: 1.15rem;
    font-weight: 500;
    height: 100%;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
}

.vercher-nav .dropdown-item.active,
.vercher-nav .dropdown-item:hover {
    background-color: #1abc9c !important;
    color: #fff !important;
}

#fluidModalLeftInfoDemo .dropdown-item.active,
#fluidModalLeftInfoDemo .dropdown-item:hover {
    background-color: #1abc9c !important;
    color: #fff !important;
}

.navbar-nav {
    flex-direction: row !important;
}

.vercher-hr {
    border-left: 2px solid #eeeeee;
    height: 25px;
}

.vercher-hr-2 {
    border-left: 2px solid #eeeeee;
    height: 25px;
}

#fluidModalLeftInfoDemo .list-group-item {
    border: none !important;
    ;
}

#fluidModalLeftInfoDemo .list-group-item a {
    color: #434343 !important;
}


#fluidModalLeftInfoDemo .dropdown-menu {
    border: none !important;
    ;
}

.vecher-telegram-icon {
    height: 28px;
    width: 28px;
    background-color: #1abc9c;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

#fluidModalLeftInfoDemo .btn-outline-primary {
    color: #1abc9c !important;
    border: 2px solid #1abc9c !important;
}

#fluidModalLeftInfoDemo .vecher-xl-input-btn {
    margin-top: -1px;
    padding: 9px 28px;
    box-shadow: none !important;
    border-radius: 2px;
}

#fluidModalLeftInfoDemo .form-control:focus {
    border-color: #1abc9c;
    box-shadow: 0 0 0 .2rem rgba(190, 247, 236, .5);
}

/* header end */
/* welcome start */
.vecher-kz a.vecher-welcome-h1 {
    font-size: 31px;
    font-weight: 700;
    line-height: 115%;
    color: #000;
}

.vecher-kz a.vecher-welcome-h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.vecher-kz .vecher-welcome-nsite {
    color: #adadad;
    display: inline;
    font-size: 12px;
    line-height: 120%;
}

.vecher-kz .vecher-welcome-time {
    font-size: 12px;
    line-height: 120%;
    color: #1abc9c;
}

.vecher-kz .vecher-welcome-time1 {
    font-size: 12px;
    line-height: 120%;
    color: #adadad;
}

.vecher-kz .card {
    box-shadow: none;
}

.vecher-kz .card .card-body {
    padding: 0;
}

.vecher-kz .card .card-title {
    padding: 12px 0;
    margin-bottom: 0;
}

.vecher-kz .card .card-footer {
    padding: 0;
    background-color: transparent !important;
    border-top: 0;
}

.vecher-kz .vecher-welcome-h3 {
    font-size: 22px !important;
    line-height: 130% !important;
    font-weight: 500 !important;
}

.vecher-kz .vecher-welcome-hr {
    height: 2px;
    background-color: #1abc9c;
    border-radius: 2px;
}

/* welcome end */
/* news start */
.vecher-kz .vercher-news .vecher-news-time {
    color: #1abc9c;
    font-size: 12px;
}

.vecher-kz .vercher-news .vecher-news-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vecher-kz .vercher-news .vecher-news-btn {
    width: 100%;
    height: 30px;
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: 24px;
}

.vecher-kz .vercher-news .vecher-news-btn:hover {
    border: 1px solid #1abc9c;
    background-color: #fff;

}

.vecher-kz .vercher-news .vecher-news-btn:hover .vecher-news-btn-text {
    color: #1abc9c;
}

.vecher-kz .vercher-news .vecher-news-btn .vecher-news-btn-text {
    color: #fff;
}

.vecher-kz .welcome .vercher-news-adver {
    margin-top: 24px;

}

.vecher-kz .welcome .vercher-news-adver .card {
    border: 2px dashed #ddd;
    background-color: #f5f5f5;
    padding: 20px;
}

.vecher-kz .welcome .vercher-news-adver .advertise-text .advertise-p {
    color: #646464;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}

.vecher-kz .welcome .vercher-news-adver .advertise-text .advertise-p .advertise-a {
    color: #1abc9c;
}

.vecher-kz .vercher-news-adver .advertise-text .advertise-span {
    color: #646464;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

/* news end */

/*  Politics start  */
.vecher-kz .vecher-welcome-hr-btn {
    color: #adadad;
    font-size: 1rem;
    line-height: 14px;
}

/* VecherTV */
.vecher-kz .vechertv .vecher-tv-img {
    position: relative;
}

.vecher-kz .vechertv .vecher-tv-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.vecher-kz .footer-fulid {
    background-color: #1e1f20
}

.vecher-kz .vecher-footer .vecher-input-search {
    background-color: hsla(0, 0%, 100%, .06);
    border: 2px solid #000;
    border-radius: 10px;
    color: #5c5c5c;
    font-size: 16px;
    height: 50px;
    padding-left: 16px;
    text-indent: 25px;
    position: relative;
}

.vecher-kz .vecher-footer .vecher-input-search:focus {
    border: 2px solid #fff !important;
    box-shadow: none;
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
}

.vecher-kz .vecher-footer .vecher-search-btn {
    position: absolute;
    right: -2.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: #5c5c5c;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    height: 40px;
    width: 110px;
}

.vecher-kz .vecher-footer .vecher-search-btn:hover {
    background-color: #1abc9c;
}

.vecher-kz .vecher-footer .vercher-footer-face {
    background-color: hsla(0, 0%, 100%, .06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.vecher-kz .vecher-footer .vercher-footer-face:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
    background-color: #2c60ee;
}

.vecher-kz .vecher-footer .vercher-footer-ins {
    background-color: hsla(0, 0%, 100%, .06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.vecher-kz .vecher-footer .vercher-footer-ins:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
    background-color: #a73b7e;
}

.vecher-kz .vecher-footer .vercher-footer-twit {
    background-color: hsla(0, 0%, 100%, .06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.vecher-kz .vecher-footer .vercher-footer-twit:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
    background-color: #65a4e4;
}

.vecher-kz .vecher-footer .vercher-footer-tele {
    background-color: hsla(0, 0%, 100%, .06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.vecher-kz .vecher-footer .vercher-footer-tele:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
    background-color: #51a2de;
}

.vecher-kz .vecher-footer .vercher-footer-yout {
    background-color: hsla(0, 0%, 100%, .06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.vecher-kz .vecher-footer .vercher-footer-yout:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease;
    background-color: #e23123;
}

.vecher-footer-app {
    display: flex;
}

.vecher-footer-hr {
    background-color: #919399;
}

.vecher-footer-contact {
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.vecher-footer-name {
    color: #919399;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 3px;
}

/* full text */
.vecher-kz .fulltext .fulltext-nav-tab {
    list-style: none;
    display: flex;
}

.vecher-kz .fulltext .fulltext-nav-tab li a {
    color: #8f93a3;
    font-size: 16px;
}

.vecher-kz .fulltext .fulltext-nav-tab li a.active {
    color: #000;
    font-size: 16px;
}

.vecher-kz .fulltext .fulltext-nav-tab li {
    padding-right: 16px;
    position: relative;
}

.vecher-kz .fulltext .fulltext-nav-tab .tab-hr:not(:last-child)::after {
    content: "/";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #8f93a3;
}

.vecher-kz .fulltext .fulltext-h1 {
    font-size: 40px;
    line-height: 120%;
    color: #333333;
    font-weight: 700;
}

.vecher-kz .fulltext .fulltext-nav-bread span {
    color: #8f93a3;
    font-size: 16px;
}

.vecher-kz .fulltext .fulltext-nav-bread span .fulltext-nav-bread-a {
    color: #000;
    font-weight: 400;
}

.vecher-kz .fulltext .fulltext-h3 {
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    font-weight: 700;
}

.vecher-kz .fulltext .fulltext-img {
    width: 100%;
    max-width: 880px;
    height: auto !important;
}

.vecher-kz .fulltext .img-copyright {
    color: rgba(80, 102, 123, .5);
    font-weight: 400;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.vecher-kz .fulltext .article-content p {
    color: #000;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}

.vecher-kz .fulltext .article-content img {
    width: 100%;
    height: auto;
}

.vecher-kz .fulltext .article-content blockquote {
    border-left: 4px solid #1abc9c;
    padding: 20px 20px 1px;
    margin: 25px;
    font-weight: 500;
    color: #000;
    font-size: 18px;
    line-height: 140%;
}

.vecher-kz .fulltext .right-bar {
    top: 70px;
}

/* fulldsc.. */

.vecher-kz .fulltext .article-tele-link {
    background: #f9f9f9;
    padding: 20px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.vecher-kz .fulltext .article-tele-link p {
    margin-bottom: 0;
    color: #333;
    font-weight: 400;
}

.vecher-kz .fulltext .article-tele-link p a {
    color: #1abc9c;
}

/* reaction */
.vecher-kz .fulltext .rating-part .reaction {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 10px;
}

.vecher-kz .fulltext .rating-part .reaction-title {
    color: #1abc9c;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.vecher-kz .fulltext .rating-part .reaction .reaction-icon {
    color: #000;
    padding-right: 0.5rem;
}

.vecher-kz .fulltext .rating-part .reaction .reaction-name {
    font-size: 14px;
    color: #000;
    padding-right: 0.5rem;
}

.vecher-kz .fulltext .vecher-kz .fulltext.rating-part .reaction .reaction-count {
    font-size: 14px;
    color: #000;
    padding-right: 0.5rem;
}

.vecher-kz .fulltext .reaction .like {
    animation: like 0.5s 1;
    color: red;
    stroke: none;
}

.vecher-kz .fulltext .reaction .dislike {
    animation: like 0.5s 1;
    color: #E56717;
    stroke: none;
}

.vecher-kz .fulltext .reaction .funny {
    animation: like 0.5s 1;
    color: #FFA500;
    stroke: none;
}

.vecher-kz .fulltext .reaction .angry {
    animation: like 0.5s 1;
    color: red;
    stroke: none;
}

.vecher-kz .fulltext .rating-part {
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

.vecher-kz .fulltext .article-reaction-span {
    color: #1abc9c;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

/* partner news */
.vecher-kz .fulltext .partner-news-btn {
    display: flex;
    justify-content: space-between;
}

.vecher-kz .fulltext .partner-news-btn a {
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: 600;
}

.vecher-kz .fulltext .tag .tag-btn {
    background-color: hsla(0, 0%, 95%, 0);
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.vecher-kz .fulltext .tag .tag-btn .tag-list-item {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.vecher-kz .fulltext .next-article {
    display: flex;
    justify-content: space-between;
}

.vecher-kz .fulltext .next-article .next-article-a {
    font-size: 18px;
    color: #c1bcbc;
    font-weight: 400;
}

.vecher-kz .fulltext .next-article-a:hover,
.vecher-kz .fulltext .next-article-a:hover i {
    color: #1abc9c !important;
}

.vecher-kz .fulltext .point-img {
    background-image: url(/image/nukte.png);
    height: 50px;
    background-position: 0 0;
    background-size: auto;
    border-bottom: 2px #ddd;
    height: 50px;
    margin-bottom: 16px;
}

/* footernav */
.container {
    margin-bottom: 0 !important;
}


.branch-nav {
    background-color: #f7f7f7;
    height: 40px;
}

/* .footernav .vecher-kz .fulltext .article-about{
    
} */
/* cardlist */
.vecher-kz .welcome .cardlist-tag a {
    color: #818181;
    font-size: 1rem;
    margin-right: 20px;
    text-decoration: none;
}

.vecher-kz .welcome .cardlist-h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    color: #333;
}

#pagination .light-theme .current,
#pagination .prev,
#pagination .next {
    background-color: #1abc9c;
    color: #fff;
}

#pagination li.disabled {
    opacity: 0.6;
}

#pagination li a,
#pagination li span {
    min-width: 48px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 0.5rem 0.8rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}


#pagination a:hover {
    color: #FFF;
    background-color: #1abc9c;
}

.vecher-kz .search .vecher-input-header {
    background-color: hsla(0, 0%, 100%, .06);
    border: 2px solid #000;
    border-radius: 10px;
    color: #5c5c5c;
    font-size: 16px;
    height: 50px;
    padding-left: 16px;
    text-indent: 25px;
    position: relative;
}

.vecher-kz .search .search-header-btn {
    position: absolute;
    right: -2.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: #5c5c5c;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    height: 40px;
    width: 110px;
}

.vecher-kz .search .vecher-input-header:focus {
    border: 2px solid #1abc9c !important;
    box-shadow: none;
    outline: 0;
}

.vecher-kz .search .search-header-btn:hover {
    background-color: #1abc9c;
}

.vecher-kz .search .search-header-h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    color: #333;
}




@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }


    #fluidModalLeftInfoDemo {
        display: none !important;
    }

    .vecher-footer-app {
        display: flex;
        justify-content: end;
    }

    .vecher-emal-md-end {
        display: flex;
        justify-content: end;
    }

    .vecher-emal-md-center {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    #fluidModalLeftInfoDemo .nav-text {
        color: #434343;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        text-transform: none;
        width: 100%;
        z-index: 1;
    }

    .vecher-kz .welcome a.vecher-welcome-h1 {
        font-size: 18px;
    }

    .vecher-kz .welcome .vecher-welcome-nsite {
        font-size: 8px;
    }

    .vecher-kz .welcome .vecher-welcome-time {
        font-size: 8px;
    }

    .vecher-kz .vecher-welcome-time1 {
        font-size: 8px;
    }

    .vecher-kz .vecher-welcome-h3 {
        font-size: 16px !important;
        margin-top: 4px;
    }

    .vecher-kz .vercher-news .vecher-news-text {
        font-size: 12px;
    }

    .vecher-kz .vercher-news .vecher-news-time {

        font-size: 12px;
    }

    .vecher-kz a.vecher-welcome-h2 {
        font-size: 14px;
    }

    .vecher-news-btn {
        margin-top: 16px;
    }

    .vecher-kz .vecher-welcome-hr-btn {
        font-size: 14px;
    }

    .vecher-footer-app {
        display: flex;
        justify-content: space-around;
    }

    .vecher-kz .fulltext .fulltext-nav-tab li a {
        font-size: 12px !important;
    }

    .vecher-kz .fulltext .fulltext-h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .vecher-kz .fulltext .fulltext-nav-bread span {
        font-size: 12px;
    }

    .vecher-kz .fulltext .fulltext-nav-tab {
        margin-bottom: 8px;
    }

    .vecher-kz .fulltext .fulltext-h3 {
        font-size: 16px;
        line-height: 120%;
        color: #333333;
        font-weight: 500;
    }

    .vecher-kz .fulltext .article-content p {
        font-size: 14px;
        font-weight: 300;
    }

    .vecher-kz .fulltext .article-content blockquote {
        font-size: 14px;
        font-weight: 400;
    }

    .vecher-kz .fulltext .article-tele-link {
        font-size: 14px;
        font-weight: 300;
    }

    .vecher-kz .fulltext .next-article .next-article-a {
        font-size: 14px;
        font-weight: 400;
    }

    .vecher-kz .fulltext .point-img {
        height: 36px;
    }

    #fluidModalLeftInfoDemo .vecher-xl-input-btn {
        padding: 5px 20px;
        margin-top: 0;
    }

    .vecher-kz .welcome .cardlist-h1 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
    }

    #pagination li a,
    #pagination li span {
        min-width: 28px;
        padding: 5px 8px;
        font-size: 12px;
    }

    .vecher-kz .search .vecher-input-header {
        border-radius: 8px;
        font-size: 13px;
        height: 40px;
        padding-left: 0;
        position: relative;
    }

    .vecher-kz .search .search-header-btn {
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background: #5c5c5c;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        height: 35px;
        width: 90px;
    }

}

@media (min-width:767px) and (max-width: 992px) {
    .vecher-nav-plnchet {
        display: none !important;
    }

    .vercher-weather {
        display: none !important;
    }

    .vercher-weather-md {
        display: flex !important;
    }

    .vecher-kz .welcome a.vecher-welcome-h1 {
        font-size: 22px;
    }

    .vecher-kz .vercher-news .vecher-news-text {
        font-size: 14px;
    }

    .vecher-kz .vercher-news .vecher-news-time {

        font-size: 14px;
    }

    .vecher-kz a.vecher-welcome-h2 {
        font-size: 16px;
    }

    .vecher-kz .vecher-welcome-time1 {
        font-size: 10px;
    }

    .vecher-kz .vercher-card-right {
        padding-right: 10px;
    }

    .vecher-kz .vercher-card-middle {
        padding-right: 10px;
        padding-left: 10px;
    }

    .vecher-kz .vercher-card-left {
        padding-left: 10px;
    }

    .vecher-news-btn {
        margin-top: 18px;
    }

    .vecher-kz .vecher-welcome-h3 {
        font-size: 18px !important;

    }

    .vecher-kz .vecher-footer .vecher-search-btn {
        position: absolute;
        right: -3.2%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        height: 35px;
        width: 100px;
    }

    .vecher-kz .vecher-footer .vecher-input-search {
        border-radius: 8px;
        font-size: 14px;
        height: 40px;
        padding-left: 10px;
    }

    .vecher-kz .fulltext .fulltext-nav-tab li a {
        font-size: 14px !important;
    }

    .vecher-kz .fulltext .fulltext-h1 {
        font-size: 32px;
        font-weight: 600;
    }

    .vecher-kz .fulltext .fulltext-nav-bread span {
        font-size: 14px;
    }

    .vecher-kz .fulltext .fulltext-h3 {
        font-size: 18px;
        line-height: 120%;
        font-weight: 600;
    }

    .vecher-kz .fulltext .article-content p {
        font-size: 16px;
        font-weight: 350;
    }

    .vecher-kz .fulltext .article-content blockquote {
        font-size: 16px;
        font-weight: 450;
    }

    .vecher-kz .fulltext .article-tele-link {
        font-size: 16px;
        font-weight: 350;
    }

    .vecher-kz .fulltext .next-article .next-article-a {
        font-size: 16px;
        font-weight: 400;
    }

    .vecher-kz .fulltext .point-img {
        height: 40px;
    }

    .vecher-kz .welcome .cardlist-h1 {
        font-size: 18px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }

    .vercher-footer-tab {
        display: flex;
        justify-content: end;
    }

    /* .container {
        position: relative;
    } */

    /* .fulltext-left-card {
        position: sticky;
        top: 80px;
        z-index: 1000;
    } */


}

@media (min-width:992px) and (max-width: 1200px) {
    .vecher-plnchet {
        display: none !important;
    }

    .vercher-hr {

        margin: 0 10px;
    }

    .vercher-weather {
        display: flex !important;
    }

    .vecher-nav-plnchet {
        display: none !important;
    }

    .vercher-hr {
        display: block !important;
    }

    .vecher-kz .welcome a.vecher-welcome-h1 {
        font-size: 28px;
    }

    .vecher-kz .vecher-welcome-h3 {
        font-size: 20px !important;
    }


}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .vercher-hr {
        display: block !important;
        margin: 0 15px;
    }
}

@media (min-width:1201px) and (max-width: 1399px) {
    .vecher-nav-plnchet {
        display: none !important;
    }

    .vercher-hr {
        margin: 0 10px;
    }

    .vercher-hr-2 {
        margin: 0 10px;
    }

    .vercher-weather {
        display: flex !important;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .vercher-hr {
        margin: 0 10px;
    }

    .vercher-hr-2 {
        margin: 0 10px;
    }

    .vercher-weather {
        display: flex !important;
    }
}